.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    padding: 20px;
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.description {
    font-size: 22px;
    font-weight: 500;
}

.listContainer {
    overflow: auto;
    height: 100%;
    /*background-color: red;*/
}

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.listItem {
    cursor: pointer;
}

.detailsContainer {
    display: flex;
    flex: 1;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    /*background-color: red;*/
}

.blog {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.backButton {
    border-radius: 10px;
    padding: 10px;
}
